<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Datos del usuario</strong><br>
    <img src="../../assets/D' Gabbiani.png" alt="ola"><br>
    <p>Nombre:</p>
    <label for="user_name"></label><br>
    <p>Apellidos:</p>
    <label for="user_last_names"></label><br>
    <p>Correo:</p>
    <label for="user_email"></label><br>
    <p>Numero:</p>
    <label for="user_number"></label><br>
  </div>
</ion-content>
