<ion-header>
  <ion-toolbar>
    <ion-title>Registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Ingresa datos</strong>
    <br>
    <br>
    <ion-input placeholder="Nombre"></ion-input>
    <br>
    <ion-input type="email" placeholder="Email"></ion-input>
    <br>
    <ion-input type="password" placeholder="Contraseña"></ion-input>
    <br>
    <ion-input type="date" placeholder="Fecha nacimiento"></ion-input>
    <br>
    <ion-input type="" placeholder="Numero"></ion-input>
    <br>
    <ion-input placeholder="Direccion"></ion-input>
    <br>
    <ion-button [routerLink]="['/']">Registrar</ion-button>
    <br>
    <ion-button [routerLink]="['/home']">Cancelar</ion-button>
  </div>
</ion-content>
